$teal: #00796B;

.content-wrap {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.logo {
  font-size: 1.5em;
  color: #fff;
  margin-left: 2em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.logo h1 {
  margin: 0;
  display: inline;
}

.logo-text {
  color: #fff;
}

.logo-icon {
  margin-right: 2%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
}

header, footer {
  flex: none;
}

header {
  background-color: $teal;
  position: relative;
  width: 100%;
  padding: 1em 0;
 
  a:hover { color: #fff }
}

main {
  height: 100%;
  flex: 1 0 auto;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1% 0;
  margin-top: 5%;
}

ul {
  list-style-type: none;
  padding: 0 1em;
}

ul li:before {
  color: $teal;
  content: "— ";
}

h1, h2, h3, h4, h5, h6, table thead, .header, .author {
  font-family: 'Roboto Slab', Tahoma;
  color: $teal;
}

a {
  color: $teal;
  text-decoration: none;
  transition: .2s;

  &:hover {
    color: #4CAF50;
    text-decoration: underline;
  }
}


table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 15px #eee;
  box-shadow: 0 3px 15px #eee;
}

table img {
  width: 70%;
  margin: 2%
}

th, td {
  border: 1px solid #ddd;
  padding: 1% 2%;
}

table thead tr {
  background-color: $teal;
  color: white;
}

strong {
  color: #009688;
}

/* updown button */

.show-updown {
  position: fixed;
  cursor: pointer;
  background-color: rgba($teal, .8);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  bottom: 2%;
  right: 5%;
  padding: 1%;
}

.show-updown::before {
  content: url(../icons/up-arrow.svg);
}

@media screen and (max-device-width: 1024px) {
  .content-wrap, table {
    width: 90%;
  }
}

@media screen and (max-device-width: 440px) {
  .content-wrap { width: 85% }
  .center { width: 100% }

  .show-updown {
    width: 30px;
    height: 30px;
    bottom: 15px;
    right: 15px;
    padding: 2%;
  }

  footer {
    padding: 5% 0;
  }

  img {
    display: block;
    width: 95%;
    margin: auto;
  }

  .logo {
    font-size: 1.2em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo,
  .logo-text,
  .logo-icon { margin: 0 }
  
  .logo-icon { width: 100% }

  /* Responcifying tables */

  thead, td:empty { display: none }
  table, tbody, td, tr, th, img { display: block }
  table img { margin: auto }

  td, tr, th {
    padding: 0;
    text-align: left !important;
    white-space: normal;
  }

  tr {
    padding: 2%;
    border-bottom: 1px solid #eee;
    margin-bottom: 11px;
  }

  td {
    border: none;
    margin-bottom: 6px;
    color: #444;
  }

  td:first-child {
    margin-bottom: 6px;
    color: #333;
  }

  td:first-child:before { content: '' }

  td:first-child {
    margin-bottom: 6px;
    color: #333;
  }

  th[data-title]:before,
  td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
    font-family: 'Roboto Slab';
    color: $teal;
  }

  th:nth-child(1),
  td:nth-child(1) {
    text-align: left;
    padding-left: 0;
  }
}

/* code styling */
code {
  font-family: consolas, monospace;
  background-color: #fff;
  font-size: .9em;
}

code, pre code {
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
}

pre code {
  display: block;
  line-height: 1.5;
  text-overflow: scroll;
}

code, p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  white-space: nowrap;
}

/* syntax hl stuff */

code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}

/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c;
}

code, .tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #D32F2F;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute, .pre .tag .attr {
  color: #eab700;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata, .bracket {
  color: $teal;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8;
}