extends layout

block content
  each part in parts
    div.part
      h2
        a(href=part.url)= part.title
      section.content
        if part.metadata.description
          i!= part.metadata.description
        if part.hasMore
          i
            a(href=part.url)  More