doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel="icon" type="image/png", href=contents.icons["favicon-16x16.png"].url, sizes="16x16")
      link(rel="icon" type="image/png", href=contents.icons["favicon-32x32.png"].url, sizes="32x32")
      link(rel="icon" type="image/png", href=contents.icons["favicon-96x96.png"].url, sizes="96x96")
      link(rel="icon" type="image/png", href=contents.icons["favicon-194x194.png"].url, sizes="194x194")
      link(rel="icon" type="image/png", href=contents.icons["android-chrome-192x192.png"].url, sizes="192x192")
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic')
      link(rel='stylesheet', href='/css/main.css')

  body
    header.header
      block header
        div.logo
          svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15").logo-icon
            path( fill="#fff" d="M6 12h9v1h-9v-1z")
            path( fill="#fff" d="M1.1 13h1.2l3.7-5-3.7-5h-1.3l3.8 5z")
          h1
            a(href=locals.url).logo-text= locals.name
    main.content-wrap
      block content
        h2 Welcome to zombocom!
    footer
      div.content-wrap
        block footer
          svg( version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15").logo-icon
            path( fill="#fff" d="M6 12h9v1h-9v-1z")
            path( fill="#fff" d="M1.1 13h1.2l3.7-5-3.7-5h-1.3l3.8 5z")          
          section.copy &copy; #{ new Date().getFullYear() } 
            strong 
              a(href=locals.url) Documentazine 
            span &mdash; by&nbsp;
            strong
              a(href='https://github.com/embarq') emb