extends layout

block prepend title
	| #{ page.title + ' - '}

block content
	!= typogr(page.html).typogrify()
	div#updown

block prepend footer
	script(type="text/javascript", src=contents.scripts['helpers.js'].url)